<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body>

    <div class="container">
        <h2>Login Bro</h2>

        <form action="/Authenticate" method="POST">
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>

            <button type="submit">Login</button>
        </form>

        <div class="signup-link">
            Don’t have an account? <a href="/signup">Sign Up</a>
        </div>
    </div>

</body>
</html>
